[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
flask = "*"
flask-swagger-ui = "*"
pymongo = "*"
marshmallow = "*"
flask-pymongo = "*"
flask-jwt-extended = "*"
sendgrid = "*"
gunicorn = "*"
datetime = "*"
flask-apscheduler = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
